<?xml version="1.0"?>
<launch>
    <!-- <node name="manualcontrol_sub_node" pkg="navstack_pub" type="sub_control.py"/> -->

    <!-- /imu -->
    <include file="$(find mpu_6050_driver)/launch/mpu_6050_tf.launch"/>

    <include file="$(find robot_mapping)/launch/rplidar_a1.launch"/>
    
    <!-- BEGIN: Set initial pose using .py file -->
    <!-- Define arguments with default values -->  
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/> 
    <arg name="yaw" default="1.57"/>

    <node name="pub_initpose_node" pkg="navstack_pub" type="setInitialPose.py" output="screen">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="yaw" value="$(arg yaw)"/> 
    </node>
    <!-- END: Set initial pose using .py file -->

    <!-- /odom -->
    <node name="ekf_odom_pub" pkg="localization_data_pub" type="ekf_odom_pub"/>
</launch>

